<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Login</h3>
              </div>
              <div class="card-body">

                <form [formGroup]="form" (ngSubmit)="onSubmitCommand()">

                  <div class="form-floating mb-3 form-group">

                    <input class="form-control" id="email" name="email" type="text" placeholder="Enter email address"
                      formControlName="email" [(ngModel)]='email' />
                    <label for="email">Email address</label>
                    <div class="text text-danger" *ngIf="formData.email.errors?.email"> Email invalid</div>
                    <div class="text text-danger" *ngIf="formData.email.errors?.required">Email is required.</div>



                    <div class="form-floating mb-3 form-group">
                      <input class="form-control" id="password" type="password" placeholder="Enter Password"
                        formControlName="password" [(ngModel)]='password' />
                      <label for="password">Password</label>

                      <div class="text text-danger" *ngIf="formData.password.errors?.required">Password is required</div>

                      <div class="text text-danger" *ngIf="formData.password.errors?.minlength">
                        Password must be at least 6 characters
                      </div>

                      <div class="text text-danger" *ngIf="formData.password.errors?.maxlength">
                        Password must not exceed 40 characters
                      </div>

                    </div>

                  </div>
                  <div class="form-check mb-3 form-group">
                    <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="" />
                    <label class="form-check-label" for="rememberPasswordCheck">Remember Password</label>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0 form-group">
                    <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                    <button type="submit" [disabled]='disableButton()' class="btn btn-primary"
                      >Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>
